    {% load static %}
    <section id="header">
        <div class="container">
            <!-- Top Bar -->
            <ul class="top-nav">
                
                <!-- Login/Account Notifications -->
                            <li>
                    <a href="{% url "login" %}"><i class="far fa-user customicon"></i></a>
                </li>
                                </ul>

            <a class="logo" href=""><img src="{% static 'templates/xdata-wh/added_img/logo.svg' %}" alt="WOLFFKRAN" style="max-width: 150px; height: auto;"></a>

        </div>
    </section>

    <section id="main-menu">

        <nav id="nav" class="navbar navbar-default navbar-main" role="navigation" style="height: 80px; display: flex; align-items: center; background-color: white;">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#primary-nav">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="primary-nav">

                    <ul class="nav navbar-nav navbar-main">

                            <li menuitemname="Home" class="" id="Primary_Navbar-Home">
            <a href="{% url 'index' %}">
                            Home
                                    </a>
                </li>
            <li menuitemname="Data" class="dropdown" id="Primary_Navbar-Data">
                <a href="#" onclick="return false;" aria-haspopup="true" aria-expanded="false">
                    Data <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'analyst_dashboard' %}">View Data</a></li>
                    <li><a href="{% url 'search_rg' %}">Search</a></li>
                    <li><a href="{% url 'update_rg' %}">Update</a></li>
                    <li><a href="{% url 'create_rg' %}">Create</a></li>
                </ul>
            </li>
        <li menuitemname="Contact Us" class="" id="Primary_Navbar-Contact_Us">
            <a href="">
                            Contact Us
                                    </a>
                </li>

                    </ul>

                </div><!-- /.navbar-collapse -->
            </div>
        </nav>

    </section>

