{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wolffkran</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Raleway:400,700" rel="stylesheet">
    <link href="{% static 'templates/xdata-wh/css/all.css' %}?v=60143f" rel="stylesheet">
    <link href="{% static 'templates/xdata-wh/css/overrides.css' %}" rel="stylesheet">
    <link href="{% static 'templates/xdata-wh/css/styles.css' %}" rel="stylesheet">
    <link href="{% static 'templates/xdata-wh/css/sky_theme.css' %}" rel="stylesheet">
    <link href="{% static 'templates/xdata-wh/css/violet_theme.css' %}" rel="stylesheet">
    <link href="{% static 'templates/xdata-wh/css/yellow_theme.css' %}" rel="stylesheet">
    <link href="{% static 'templates/xdata-wh/css/default_theme.css' %}" rel="stylesheet">
    <link href="{% static 'templates/xdata-wh/css/custom.css' %}" rel="stylesheet">
    <link href="{% static 'templates/xdata-wh/css/responsive.css' %}" rel="stylesheet">
    <script src="{% static 'templates/xdata-wh/js/scripts.min.js' %}?v=60143f"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/fontawesome-all.min.css' %}">
    <link rel="icon" href="{% static 'templates/xdata-wh/img/1.png' %}">

</head>
